body{
    background-color: #EEE;
    padding-right:5%;
    padding-left: 5%;
}
.fixed-bottom{
    padding-right:5%;
    padding-left: 5%;
}
#buttons{
    padding-top:15%;
    display: block;
}
#loginDiv{
    padding-top:16.4%;
    display:none; 
    visibility: hidden;
}
#checkInDiv{
    padding-top:16.3%;
    display:none; 
    visibility: hidden;
}
input::placeholder{
    color: white;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #343a40 inset !important;
    -webkit-text-fill-color: white !important;
}