body{
    background-color: #EEE;
    padding-right:5%;
    padding-left: 5%;
}
#buttons{
    padding-top:15%;
    display: block;
}
#loginDiv{
    padding-top:16.4%;
    display:none; 
    visibility: hidden;
}
#checkInDiv{
    padding-top:16.3%;
    display:none; 
    visibility: hidden;
}