{% extends "base.html.twig" %}

{% block body %}
    <div id="buttons">
        </br>
        <button id="loginButton" class="btn btn-success btn-primary btn-lg initialButton">Iniciar sesion</button>
        </br></br>
        <button id="checkInButton" class="btn btn-success btn-primary btn-lg initialButton">Registrarse</button>
    </div>
    <div id="loginDiv" style="visibility: hidden">
        <form >
            <input type="text" class="btn btn-success btn-primary btn-lg loginForm" placeholder="Escribe aquí tu email">
            </br></br>
            <input type="password" class="btn btn-success btn-primary btn-lg loginForm" placeholder="Escribe aquí tu contraseña">
        </form>
    </div>
    <div id="checkInDiv" style="visibility: hidden">
        <form>
            <input type="text" class="btn btn-success btn-primary btn-lg checkInForm" placeholder="Escribe aquí tu email">
            </br></br>
            <input type="text" class="btn btn-success btn-primary btn-lg  checkInForm" placeholder="Escribe aqui tu nombre de usuario">
            </br></br>
            <input type="password" class="btn btn-success btn-primary btn-lg  checkInForm" placeholder="Escribe aquí tu contraseña">
            </br></br>
           <div id="radioButtonRoom" class="btn-group btn-group-toggle" data-toggle="buttons">
                <label  id="radioButtonRoomExistingRoom" class="btn btn-secondary btn-success active">
                    <input type="radio" name="room" autocomplete="off" checked>Sala existente 
                </label>
                <label id="radioButtonRoomNewRoom" class="btn btn-secondary btn-success">
                    <input type="radio" name="room" autocomplete="off">Nueva sala
                </label>
            </div>
        </form>
    </div>
 
{% endblock %}
{% block javascripts %}
    {{ parent() }}
       <script>
        $(document).ready(function(){
            //Mostrar formLogin
            $("#loginButton").click(function(){
                document.getElementById("buttons").style.visibility = "hidden";
                setTimeout(function(){
                    $("#buttons").fadeOut(); 
                },0);
                setTimeout(function(){
                    $(".loginForm").fadeIn(400);
                    document.getElementById("loginDiv").style.visibility = "visible";
                }, 450); 
            });
            //Mostrar formCheckIn
            $("#checkInButton").click(function(){
                document.getElementById("buttons").style.visibility = "hidden";
                setTimeout(function(){
                   $("#buttons").fadeOut(); 
                },0);
                setTimeout(function(){
                    $(".checkInForm").fadeIn(400);
                    document.getElementById("checkInDiv").style.visibility = "visible";
                }, 450); 
            });
            $('#radioButtonRoomNewRoom').click(function(){
                document.getElementById("radioButtonRoomExistingRoom").className ="btn btn-secondary btn-success";
                document.getElementById("radioButtonRoomNewRoom").className ="btn btn-secondary btn-success active";
            });
            $('#radioButtonRoomExistingRoom').click(function(){
                document.getElementById("radioButtonRoomNewRoom").className ="btn btn-secondary btn-success";
                document.getElementById("radioButtonRoomExistingRoom").className ="btn btn-secondary btn-success active";
            });
        });
    </script>
{% endblock %}