{% extends "base.html.twig" %}

{% block body %}
    <div id="buttons">
        </br>
        <button id="loginButton" class="btn btn-success btn-primary btn-lg initialButton">Iniciar sesion</button>
        </br></br>
        <button id="checkInButton" class="btn btn-success btn-primary btn-lg initialButton">Registrarse</button>
    </div>
    <div id="loginDiv" style="visibility: hidden">
        <form >
            <p class="loginForm">Email:</p>
            <input type="text" class="loginForm">
            <p class="loginForm">Password:</p>
            <input type="password" class="loginForm">
        </form>
    </div>
    <div id="checkInDiv" style="visibility: hidden">
        <form>
            <p class="checkInForm">Email:</p>
            <input type="text" class="checkInForm">
            <p class="checkInForm">Alias:</p>
            <input type="text" class="checkInForm">
            <p class="checkInForm">Password:</p>
            <input type="password" class="checkInForm">
            </br></br>
            <div id="radioButtonRoom">
                Sala existente
                <input type="radio" id="existingRoom" name="room" checked/>
                Nueva sala
                <input type="radio" id="newRoom" name="room"/>
            </div>
        </form>
    </div>
 
{% endblock %}
{% block javascripts %}
    {{ parent() }}
       <script>
        $(document).ready(function(){
            //Mostrar formLogin
            $("#loginButton").click(function(){
                document.getElementById("buttons").style.visibility = "hidden";
                setTimeout(function(){
                    //$("#buttons").fadeOut(); 
                },0);
                setTimeout(function(){
                    //$(".loginForm").fadeIn(300);
                    document.getElementById("loginDiv").style.visibility = "visible";
                }, 400); 
            });
            //Mostrar formCheckIn
            $("#checkInButton").click(function(){
                document.getElementById("buttons").style.visibility = "hidden";
                setTimeout(function(){
                   // $("#buttons").fadeOut(); 
                },0);
                setTimeout(function(){
                   // $(".checkInForm").fadeIn(300);
                    document.getElementById("checkInDiv").style.visibility = "visible";
                }, 500); 
            });
            //Create new 
        });
    </script>
{% endblock %}