body{
    background-color: #EEE;
}
#buttons, #loginDiv, #checkInDiv{
    margin-left: 34%;
}
#buttons{
    margin-top: 14%;
}
.initialButton, .loginForm, .checkInForm{
    width: 50%;
}
#loginDiv{
    margin-top: 15.3%;
}
#checkInDiv{
    margin-top: -6%;
}
input::placeholder{
    color: white;
}
#radioButtonRoom, #radioButtonRoomExistingRoom, #radioButtonRoomNewRoom{
    width:50%;
}