{% extends "base.html.twig" %}

{% block body %}
    <div id="alert" class="fixed-bottom">
        {% for flashMessage in app.session.flashbag.get('warning') %}
            <br/>
            <div class="alert alert-danger" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}
    </div>
    <center id="createRoomDiv">
        <form action="{{ path('createNewRoom') }}" method="post" onsubmit="return validateCreateRoom()">
            <input id="nameRoom" type="text" name="roomName" class="col-md-6 btn btn-dark" placeholder="Nombre de la sala" maxlength="50" autocomplete="off">
            <br/><br/>
            <input id="password" type="password" name="password" class="col-md-6 btn btn-dark" placeholder="Contraseña" maxlength="20" autocomplete="off">
            <br/><br/>
            <input id="repeatPassword" type="password" name="repeatPassword" class="col-md-6 btn btn-dark" placeholder="Repite la contraseña" maxlength="20" autocomplete="off">
            <br/><br/>
            <div class="col-md-6  btn-group" data-toggle="buttons">
                <label id="leagueLabel" class="col-md-6  btn btn-success active">
                    <input id="leagueInput" type="checkbox" name="liga" autocomplete="off" style="display:none"checked>Liga 
                </label>
                <label id="championsLabel" class="col-md-6  btn btn-success disabled">
                    <input id="championsInput" type="checkbox" name="champions" autocomplete="off" style="display:none">Champions 
                </label>
                <label id="cupLabel" class="col-md-6  btn btn-success disabled">
                    <input id="cupInput" type="checkbox" name="cup" autocomplete="off" style="display:none">Copa 
                </label>
            </div>
            </br></br>
            <div class="col-md-6  btn-group" data-toggle="buttons">
                <a id="hrefButton" href="joinRoom" class="col-md-6  btn btn-secondary">
                    <button type="button" class="col-md-6  btn btn-secondary">Unirme a</button>
                </a>
                <button type="joinRoom" class="col-md-6  btn btn-success">Crear sala</button>
            </div>
        </form>
    </center>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/newRoom.js') }}" type="text/javascript"></script>
{% endblock %}
